.detailWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;
}

.detailImage {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.detailImage img {
  border-radius: 50%;
}

.drinkTitle {
  font-size: 20px;
  margin-top: 20px;
  font-weight: bold;
}

.ingredientWrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ingredientInnerWrapper {
  display: flex;
  flex-direction: row;
}

.ingredientList {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 20px;
}

.ingredientChart {
  flex: 1;
  margin: 20px;
}

.ingredientLabel {
  font-size: 17px;
  margin-left: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-weight: bold;
}

.legendRow {
  font-size: 17px;
  display: flex;
  margin-bottom: 5px;
}

.listWrapper {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.itemList {
  overflow-y: auto;
  max-height: calc(100vh - 120px);
}

.instruction {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 17px;
}
