.header {
  background-color: #f6f6f6;
  text-align: center;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-bottom: 2px solid #a6a6a6;
}

.headerNav {
  font-weight: normal;
  color: #2f7bf6;
  text-decoration: none;
}

.leftArrow {
  width: 20px;
  height: 20px;
  width: 17px;
  margin-right: 5px;
}

.navWrapper {
  position: absolute;
  left: 16px;
  top: 19px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
