.header {
  background-color: #f6f6f6;
  text-align: center;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  border-bottom: 2px solid #a6a6a6;
}

.headerNav {
  position: absolute;
  font-weight: normal;
  left: 1rem;
  top: 1.2rem;
  color: #2f7bf6;
}
